name: Send Notification

on:
    issues:
        types: [opened]
    pull_request_target:
        types: [opened]

jobs:
    issue-notify:
        runs-on: ubuntu-latest
        if: ${{github.event.issue}}
        steps:
            - name: Send notification on issue creation
              run: |
                  curl --location --request POST '${{secrets.WEBHOOK_CHAT}}' \
                  --header 'Content-Type: application/json' \
                  --data-raw '{
                        "cardsV2": [
                            {
                                "card": {
                                    "header": {
                                        "title": "PR: ${{ github.event.issue.title }}",
                                        "subtitle": "By ${{ github.event.issue.user.login }} in Asgardeo JS SDK Repo",
                                        "imageUrl": "https://avatars.githubusercontent.com/u/583231?v=4",
                                        "imageType": "CIRCLE",
                                        "imageAltText": "GitHub Avatar"
                                    },
                                    "sections": [
                                        {
                                            "header": "Issue Details",
                                            "collapsible": false,
                                            "widgets": [
                                                {
                                                    "buttonList": {
                                                        "buttons": [
                                                            {
                                                                "text": "Open Issue",
                                                                "onClick": {
                                                                    "openLink": {
                                                                        "url": "${{ github.event.issue.html_url }}"
                                                                    }
                                                                }
                                                            }
                                                        ]
                                                    }
                                                },
                                                {
                                                    "textParagraph": {
                                                        "text": "${{ github.event.issue.body }}"
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        ]
                  }'
    pr-notify:
        runs-on: ubuntu-latest
        if: ${{github.event.pull_request}}
        steps:
            - name: Send notification on pull request creation
              run: |
                  curl --location --request POST '${{secrets.WEBHOOK_CHAT}}' \
                  --header 'Content-Type: application/json' \
                  --data-urlencode '{
                      "cardsV2": [
                          {
                              "card": {
                                  "header": {
                                      "title": "PR: ${{ github.event.pull_request.title }}",
                                      "subtitle": "By ${{ github.event.pull_request.user.login }} in Asgardeo JS SDK Repo",
                                      "imageUrl": "https://avatars.githubusercontent.com/u/583231?v=4",
                                      "imageType": "CIRCLE",
                                      "imageAltText": "GitHub Avatar"
                                  },
                                  "sections": [
                                      {
                                          "header": "PR Details",
                                          "collapsible": false,
                                          "widgets": [
                                              {
                                                  "buttonList": {
                                                      "buttons": [
                                                          {
                                                              "text": "Open PR",
                                                              "onClick": {
                                                                  "openLink": {
                                                                      "url": "${{ github.event.pull_request.html_url }}"
                                                                  }
                                                              }
                                                          }
                                                      ]
                                                  }
                                              },
                                              {
                                                  "textParagraph": {
                                                      "text": "${{ github.event.pull_request.body }}"
                                                  }
                                              }
                                          ]
                                      }
                                  ]
                              }
                          }
                      ]
                  }'
